<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zry.xiaohongshu.data.align.domain.mapper.InsertMapper">

    <insert id="insert2DataAlignNoteLikeCountTempTable" parameterType="map">
        insert into `t_data_align_note_like_count_temp_${tableNameSuffix}` (note_id) values (#{noteId})
    </insert>

    <insert id="insert2DataAlignUserLikeCountTempTable" parameterType="map">
        insert into `t_data_align_user_like_count_temp_${tableNameSuffix}` (user_id) values (#{userId})
    </insert>
    <insert id="insert2DataAlignNoteCollectCountTempTable" parameterType="map">
        insert into `t_data_align_note_collect_count_temp_${tableNameSuffix}` (note_id) values (#{noteId})
    </insert>

    <insert id="insert2DataAlignUserCollectCountTempTable" parameterType="map">
        insert into `t_data_align_user_collect_count_temp_${tableNameSuffix}` (user_id) values (#{userId})
    </insert>
    <insert id="insert2DataAlignUserNotePublishCountTempTable" parameterType="map">
        insert into `t_data_align_note_publish_count_temp_${tableNameSuffix}` (user_id) values (#{userId})
    </insert>
    <insert id="insert2DataAlignUserFollowingCountTempTable" parameterType="map">
        insert into `t_data_align_following_count_temp_${tableNameSuffix}` (user_id) values (#{userId})
    </insert>

    <insert id="insert2DataAlignUserFansCountTempTable" parameterType="map">
        insert into `t_data_align_fans_count_temp_${tableNameSuffix}` (user_id) values (#{userId})
    </insert>

</mapper>
