<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zry.xiaohongshu.data.align.domain.mapper.UpdateMapper">

    <update id="updateUserFollowingTotalByUserId" parameterType="map">
        update t_user_count set following_total = #{followingTotal}
        where user_id = #{userId}
    </update>
</mapper>
